{include file='public/header' title='汽车维修美容 | 在线预约'}
<link rel="stylesheet" href="__INDEX_CSS__/order.css">
<link rel="stylesheet" href="__ADMIN_CSS__/layui.css">

    <!-- 在线预约 -->
    <div class="cn-content">
        <div class="bit-wrap">
            <div class="img clearfix .imgtwo">
                <img src="__INDEX_IMG__/yy.jpg" alt="" class="img-two">
            </div>
            <div class="about-tt clearfix">
                <span class="line left"></span>
                <div class="about-title">
                    <div class="hd-title">
                        <div class="tp-title">在线预约</div>
                        <div class="hd-subtitle">Online Appointment</div>
                    </div>
                </div>
                <span class="line right"></span>
            </div>
        </div>
    </div>
    <!-- 在线预约 -->
    <!-- 内容 -->

    <form action="" class="big-content" id="formDemo">
        <div class="bg-select">
            <div class="st-card">
                <label form="">预约服务：</label>
                <div class="text-box">
                    <select name="serve" id="serve" lay-verify="required" class="one">
                        <option name="serve" value="汽车美容">汽车美容</option>
                        <option name="serve" value="汽车维修">汽车维修</option>
                        <option name="serve" value="钣金喷漆">钣金喷漆</option>
                    </select>
                </div>
            </div>
            <div class="st-card">
                <label form="">预约日期：</label>
                <div class="text-box">
                    <select name="year" required  lay-verify="required" class="one two">
                        <option value="年">年</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                    </select>
                    <select name="month"  class="one two">
                        <option value="月">月</option>
                        <option value="1">一月</option>
                        <option value="2">二月</option>
                        <option value="3">三月</option>
                        <option value="4">四月</option>
                        <option value="5">五月</option>
                        <option value="6">六月</option>
                        <option value="7">七月</option>
                        <option value="8">八月</option>
                        <option value="9">九月</option>
                        <option value="10">十月</option>
                        <option value="11">十一月</option>
                        <option value="12">十二月</option>
                    </select>
                    <select name="day"  class="one two">
                        <option value="日">日</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                </div>
            </div>
            <div class="st-card">
                <label form="">您的姓名：</label>
                <div class="text-box">
                    <input type="text" name="username" required  lay-verify="required" class="one three">
                </div>
            </div>
            <div class="st-card">
                <label form="">您的性别：</label>
                <div class="text-box">
                    <input type="radio" value="0" class="push" name="sex" checked>
                    <span class="sex">男</span>
                    <input type="radio" value="1" class="push" name="sex">
                    <span class="sex">女</span>
                </div>
            </div>
            <div class="st-card">
                <label form="">您的电话：</label>
                <div class="text-box">
                    <input type="number" name="phone" required  lay-verify="required" class="one three">
                </div>
            </div>
            <div class="st-card">
                <label form="">补充说明：</label>
                <div class="text-box">
                    <textarea name="explain" cols="30" required  lay-verify="required" rows="10"></textarea>
                </div>
            </div>
            <div class="st-card">
                <label form="">验证码：</label>
                <div class="text-box">
                    <input type="text" name="vdate" required  lay-verify="required" class="one three">
                </div>
                <div class="text-box text-box2 ">
                    <i class=" iconfont icon-xunhuan icon"></i>
                    <img class="test"
                         src="http://54d4a0339489d.t73.qifeiye.com/qfy-content/plugins/qfy_form/includes/captcha.php?qfy_nocache=true&c=eyJ1bmlxSWQiOiI1ZDBmOTNkMzZkMDhlIiwidG1wRGlyIjoiXC90bXBcLyIsIm9wdGlvbnMiOnsibGVuZ3RoIjoiNSIsIndpZHRoIjoiMTE1IiwiaGVpZ2h0IjoiNDAiLCJiZ0NvbG91ciI6IiNmN2YyZjciLCJ0ZXh0Q29sb3VyIjoiIzIyMjIyMiIsImZvbnQiOiJUeXBpc3QudHRmIiwibWluRm9udFNpemUiOiIxMiIsIm1heEZvbnRTaXplIjoiMTkiLCJtaW5BbmdsZSI6IjAiLCJtYXhBbmdsZSI6IjIwIn19&t=1561301971.4586"
                         id="code"
                         onclick="javascript:this.src='http://54d4a0339489d.t73.qifeiye.com/qfy-content/plugins/qfy_form/includes/captcha.php?qfy_nocache=true&c=eyJ1bmlxSWQiOiI1ZDBmOTNkMzZkMDhlIiwidG1wRGlyIjoiXC90bXBcLyIsIm9wdGlvbnMiOnsibGVuZ3RoIjoiNSIsIndpZHRoIjoiMTE1IiwiaGVpZ2h0IjoiNDAiLCJiZ0NvbG91ciI6IiNmN2YyZjciLCJ0ZXh0Q29sb3VyIjoiIzIyMjIyMiIsImZvbnQiOiJUeXBpc3QudHRmIiwibWluRm9udFNpemUiOiIxMiIsIm1heEZvbnRTaXplIjoiMTkiLCJtaW5BbmdsZSI6IjAiLCJtYXhBbmdsZSI6IjIwIn19&t=1561301971.4586?tm='+Math.random()" />
                </div>
            </div>
            <input type="submit" name="demo" id="btn"  value="提交预约" class="button">
        </div>
    </form>

    <!-- 内容 -->
    <!-- 底部 -->
    <div class="footer clearfix">
        <div class="wf-wrap">
            <div class="clearfix">
                <div class="wrap-content">
                    <p class="color"> <strong>一店地址</strong> </p>
                    <p class="text-two">门店地址：上海市松江区佘山林荫大道18号 </p>
                    <p>预约电话：<a href="" class="color">400-562-6654 </a></p>
                    <p class="text-two"><strong class="bold">营业时间：</strong></p>
                    <p class="sm-font">周一 ~周五：上午9:30-下午8:00</p>
                    <p class="sm-font">周六、周日：上午10:00-下午9:00</p>
                </div>
                <div class="wrap-content">
                    <p class="color"> <strong>二店地址</strong> </p>
                    <p class="text-two">门店地址：上海市松江区佘山林荫大道18号 </p>
                    <p>预约电话：<a href="" class="color">400-562-6654 </a></p>
                    <p class="text-two"><strong class="bold">营业时间：</strong></p>
                    <p class="sm-font">周一 ~周五：上午9:30-下午8:00</p>
                    <p class="sm-font">周六、周日：上午10:00-下午9:00</p>
                </div>
                <div class="wrap-content">
                    <p class="color"> <strong>三店地址</strong> </p>
                    <p class="text-two">门店地址：上海市松江区佘山林荫大道18号 </p>
                    <p>预约电话：<a href="" class="color">400-562-6654 </a></p>
                    <p class="text-two"><strong class="bold">营业时间：</strong></p>
                    <p class="sm-font">周一 ~周五：上午9:30-下午8:00</p>
                    <p class="sm-font">周六、周日：上午10:00-下午9:00</p>
                </div>
            </div>
            <div class="column-inner clearfix">
                <ul>
                    <li>
                        <div class="img img1"></div>
                    </li>
                    <li>
                        <div class="img img2"></div>
                    </li>
                    <li>
                        <div class="img img3"></div>
                    </li>
                    <li>
                        <div class="img img4"></div>
                    </li>
                    <li>
                        <div class="img img5"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="return">
        <i class="iconfont icon-iconfonticontrianglecopy"></i>
    </div>
    <!-- 底部 -->
<script src="__INDEX_JS__/jquery-3.4.1.min.js"></script>
<script src="__ADMIN_JS__/layui.js"></script>
<script src="__INDEX_JS__/jquery.validate.min.js"></script>

    <script src="__INDEX_JS__/return.js"></script>
    <script>
        var layer
        layui.use(['layer'],function(){
            layer=layui.layer;
        })
        // 验证码实现渐入渐出效果
        let box = document.querySelector(".text-box2");
        let test = document.querySelector(".test");
        let icon = document.querySelector(".icon");
        box.onmouseover = () => {
            test.style.opacity = 0.3;
            icon.style.opacity = 1;
        }
        box.onmouseout = () => {
            test.style.opacity = 1;
            icon.style.opacity = 0;
        }
        // 验证
        $("#formDemo").validate({
            rules:{
                serve:'required',
                times:'required',
                    username:{
                    required:true,
                    minlength:2,
                    maxlength:5,
                },
                sex:'required',
                phone:{
                    required:true,
                    number:true,
                },
                explain:{
                    required:true,
                    maxlength: 50,
                },
                vdate:{
                    required:true,
                }
            },
            messages:{
                serve:"预约服务必填",
                sex:'请选择您的性别',
                phone:{
                    required:'请输入手机号',
                    nubmer:'必须是数字',
                },
                username: {
                    required:'请填写姓名',
                    minlength: '不能少于两为字符',
                    maxlength:'不能超过5位字符',
                },
                explain:{
                    required:'请填写补充',
                    maxlength:'您输入的字符太多了'
                },
                vdate:'请输入验证码'
            }
        })

        $("#btn").click(function(e){
            e.preventDefault()
            $.ajax({
                url:'/pastry/public/admin/order/add',
                data:$("#formDemo").serialize(),
                type:'post',
                dataType:'json',
                success:function(res){
                    if(res.code==200){
                        layer.msg(res.msg,{icon:6,time:500})
                    }else{
                        layer.msg(res.msg,{icon:5,time:500})
                    }
                }
            })
    })
    </script>
</body>

</html>