{include file='public/header' title='汽车维修美容 | 维修服务、保养服务、钣金喷漆、AMG改装、加装服务、高档美容'}

<link rel="stylesheet" href="__INDEX_CSS__/product.css">
    <!-- 中部 -->
    <div class="cn-content">
        <div class="bit-wrap">
            <div class="img clearfix .imgtwo">
                <img src="__INDEX_IMG__/cp1.jpg" alt="" class="img-two">
            </div>
            <div class="about-tt clearfix">
                <span class="line left"></span>
                <div class="about-title">
                    <div class="hd-title">
                        <div class="tp-title">产品中心</div>
                        <div class="hd-subtitle">Products</div>
                    </div>

                </div>
                <span class="line right"></span>
            </div>
        </div>
    </div>
    <div class="gasoline">
        <ul class="top">
            {volist name="category" id="vo"}
            <li class="title">
                <a href="javascript:;" class="whole">{$vo['username']}</a>
            </li>
            {/volist}
        </ul>
        <div class="bottom">
            {volist name="goods" id="vo"}
            <ul class="bottom-bt">
                {volist name="$vo" id="list"}
                <li class="goods">
                    <a href="/pastry/public/index/index/detalis?did={$list['ids']}" class="gd-img">
                        <img src="{$list['img1']}" alt="">
                    </a>
                    <div class="text-name">
                        <a href="/pastry/public/index/index/detalis?did={$list['ids']}" class="name">{$list['goodsname']}</a>
                    </div>
                </li>
                {/volist}
            </ul>
            {/volist}
        </div>
    </div>
    <!-- 中部 -->
    <!-- 底部 -->
    <div class="footer clearfix">
        <div class="wf-wrap">
            <div class="clearfix">
                <div class="wrap-content">
                    <p class="color"> <strong>一店地址</strong> </p>
                    <p class="text-two">门店地址：上海市松江区佘山林荫大道18号 </p>
                    <p>预约电话：<a href="" class="color">400-562-6654 </a></p>
                    <p class="text-two"><strong class="bold">营业时间：</strong></p>
                    <p class="sm-font">周一 ~周五：上午9:30-下午8:00</p>
                    <p class="sm-font">周六、周日：上午10:00-下午9:00</p>
                </div>
                <div class="wrap-content">
                    <p class="color"> <strong>二店地址</strong> </p>
                    <p class="text-two">门店地址：上海市松江区佘山林荫大道18号 </p>
                    <p>预约电话：<a href="" class="color">400-562-6654 </a></p>
                    <p class="text-two"><strong class="bold">营业时间：</strong></p>
                    <p class="sm-font">周一 ~周五：上午9:30-下午8:00</p>
                    <p class="sm-font">周六、周日：上午10:00-下午9:00</p>
                </div>
                <div class="wrap-content">
                    <p class="color"> <strong>三店地址</strong> </p>
                    <p class="text-two">门店地址：上海市松江区佘山林荫大道18号 </p>
                    <p>预约电话：<a href="" class="color">400-562-6654 </a></p>
                    <p class="text-two"><strong class="bold">营业时间：</strong></p>
                    <p class="sm-font">周一 ~周五：上午9:30-下午8:00</p>
                    <p class="sm-font">周六、周日：上午10:00-下午9:00</p>
                </div>
            </div>
            <div class="column-inner clearfix">
                <ul>
                    <li>
                        <div class="img img1"></div>
                    </li>
                    <li>
                        <div class="img img2"></div>
                    </li>
                    <li>
                        <div class="img img3"></div>
                    </li>
                    <li>
                        <div class="img img4"></div>
                    </li>
                    <li>
                        <div class="img img5"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="return">
        <i class="iconfont icon-iconfonticontrianglecopy"></i>
    </div>
    <script src="__INDEX_JS__/return.js"></script>
    <script>
        // 选项卡
        // 获取到操作元素
        let title = document.querySelectorAll(".title");
        let bottomCard = document.querySelectorAll(".bottom-bt");
        bottomCard[0].style.display = "block";
        title[0].classList.add("title-one")
        // 循环遍历标题对应下面的卡片
        title.forEach((v, i) => {
            v.onclick = () => {
                bottomCard.forEach((a) => {
                    a.style.display = "none";
                })
                bottomCard[i].style.display = "block";
                title.forEach((b) => {
                    b.classList.remove("title-one");
                })
                v.classList.add("title-one");
            }
        })
    </script>
</body>

</html>